.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
    margin-top: 0;
    table-layout: fixed;
}

.table th {
    color: #000;
    font-weight: bold;
    text-align: left;
    padding: 15px 0;
    border: none;
    font-size: 2em;
}

.table td {
    padding: 12px 0;
    border: none;
    font-size: 2em;
}

.container {
    max-width: 1200px;
    padding: 10px 20px;
}

.table-hover tbody tr:hover {
    background-color: transparent;
}

.table thead th {
    border: none;
}

.table td, .table th {
    border: none;
}

/* Fixed column widths */
.table th:nth-child(1),
.table td:nth-child(1) {
    width: 200px;
}

.table th:nth-child(2),
.table td:nth-child(2) {
    width: 300px;
}

.table th:nth-child(3),
.table td:nth-child(3) {
    width: 200px;
}

h2 {
    color: #4a3c31;
    font-weight: bold;
}

.no-stats-message {
    text-align: center;
    padding: 50px 0;
    color: #4a3c31;
    font-weight: bold;
    font-size: 1.5em;
}

.no-stats-message h2 {
    color: #4a3c31;
    font-weight: bold;
    font-size: 2em;
    margin: 0;
}