{% extends "base.html" %}
{% from 'components/nav.html' import nav %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/navbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/caff_stat.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/adddrink.css') }}">
{% endblock %}

{% block content %}
{{ nav() }}

<body>
  <div class="add-drink-container">
    <div class="add-drink-panel">
      <h1>Add a New Drink!</h1>

      <form method="POST" action="{{ url_for('adddrink') }}">
        <div class="drink-input">
          <label>Drink Name</label>
          <input type="text" name="drink_name" placeholder="Drink Name" class="drink_name" required>
        </div>

        <div class="drink-input">
          <label>MG of Caffeine</label>
          <input type="number" name="caffeine_amount" placeholder="0 MG" class="drink_MG" required>
        </div>

        <div class="mood-section">
          <label>Mood After Drinking</label>
          <div class="mood-options">
            {% for mood in ['Sleepy', 'Tired', 'Okay', 'Alive', 'Energized'] %}
            <label class="mood-button {{ mood | lower }}">
              <input type="radio" name="mood" value="{{ mood }}" required>
              <span class="{{ mood | lower }}">{{ mood }}</span>
            </label>
            {% endfor %}
          </div>
        </div>

        <div class="drink-actions">
          <button type="submit" class="add-link">Add<img src="{{ url_for('static', filename='images/arrow2.svg') }}" class="arrow-icon" alt="Arrow"></button>
          <a href="{{ url_for('home') }}" class="finish-link">Cancel<img src="{{ url_for('static', filename='images/arrow2.svg') }}" class="arrow-icon" alt="Arrow"></a>
        </div>
      </form>
    </div>

    <img src="{{ url_for('static', filename='images/Asset_Coffee.png') }}" class="coffee-image" alt="Coffee">
  </div>
</body>

{% endblock %}
