{% extends "base.html" %}
{% from 'components/nav.html' import nav %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/navbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/caff_stat.css') }}">
{% endblock %}

{% block content %}
{{ nav() }}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Total MG of Caffeine</th>
                <th>Overall Mood</th>
            </tr>
        </thead>
        <tbody>
            {% if caffeine_data %}
                {% for entry in caffeine_data %}
                <tr>
                    <td>{{ entry.date }}</td>
                    <td>{{ entry.total_mg }}</td>
                    <td>{{ entry.overall_mood }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3" class="no-stats-message">
                        No stats to show here! Have some coffee :)
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %} 