<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Mood Brewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="main-flex">
        {% set box_content %}
            <form class="login-form" method="POST" action="{{ url_for('login') }}">
                <div class="login-top-group">
                    <h2 class="login-title">LOGIN</h2>
                    <input type="text" name="username" placeholder="USERNAME" class="login-input" required>
                    <input type="password" name="password" placeholder="PASSWORD" class="login-input" required>
                </div>
                <div class="login-bottom-group">
                    <button type="submit" class="login-btn">LOGIN</button>
                    <div class="signup-text">
                        NO ACCOUNT? <a href="{{ url_for('signup') }}">SIGN UP HERE!</a>
                    </div>
                </div>
            </form>
        {% endset %}
        {% include 'components/container_box.html' %}
        {% include 'components/logo_panel.html' %}
    </div>
</body>
</html> 