{% extends "base.html" %}
{% from 'components/nav.html' import nav %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/navbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}
{{ nav() }}

<div class="">
    <form method="POST">
        <div class="profile-info">
            <div class="info-field">
                <label>Name:</label>
                <span>{{ user.username }}</span>
            </div>
            <div class="info-field">
                <label>Email:</label>
                <span>{{ user.email }}</span>
            </div>
            <div class="info-field">
                <label>Password:</label>
                <span>***************</span>
            </div>
            <div class="info-field">
                <label>Daily MG Goal:</label>
                <input type="number" name="caffeine_goal" value="{{ user.caffeine_goal }}" class="goal-input">
            </div>
            <div class="info-field">
                <label>Overall Average Mood:</label>
                <span>Okay</span> 
            </div>

            <div class="profile-actions">
                <button type="submit" class="btn-done">
                    Done
                    <img src="{{ url_for('static', filename='images/arrow2.svg') }}" alt="arrow" class="arrow-icon">
                </button>
                <button type="reset" class="btn-cancel">
                    Cancel
                    <img src="{{ url_for('static', filename='images/arrow2.svg') }}" alt="arrow" class="arrow-icon">
                </button>
            </div>
        </div>
    </form>
    
    <div class="profile-image-container">
        <img src="{{ url_for('static', filename='images/Asset_Cafe 1.png') }}" alt="Coffee Cup" class="coffee-image">
        <img src="{{ url_for('static', filename='images/Leaf.png') }}" class="leaf top-left">
        <img src="{{ url_for('static', filename='images/leaf2.png') }}" class="leaf bottom-right">
    </div>
</div>
{% endblock %} 